{% extends "layout.html" %}

{% block title %}Tweet Page{% endblock title %}

{% block content %}
<h1 class="text-center">Welcome to tweet Page</h1>
<h2>
    {% if form.instance.pk %}
    Edit tweet 
    {% else  %} 
    Create tweet 
    {% endif %}
</h2>
<form class="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-warning" type="submit">Submit</button>
</form>
<a href="{% url "tweet_list" %}" class="btn btn-primary mt-4">Go to tweet</a>
{% endblock %}